--mindaro: #d9ed92ff;
--light-green: #b5e48cff;
--light-green-2: #99d98cff;
--emerald: #76c893ff;
--keppel: #52b69aff;
--verdigris: #34a0a4ff;
--bondi-blue: #168aadff;
--cerulean: #1a759fff;
--lapis-lazuli: #1e6091ff;
--indigo-dye: #184e77ff;